@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*, body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Cabeçalho*/

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    height: 100px;
}

.titulo{
    font-size: 20pt;
    flex-basis: 50%;
    
}

h1{
    color: #D6000D;
    position: relative;
    left: 50px;
}

.ponto{
    color: black;
}

nav{
    flex-basis: 50%;
    text-align: center;
}

.lista-topo{
    list-style: none;
    display: inline-flex;
}

li{
    padding: 15px;
}

.link-topo{
    color: black;
    text-decoration: none;
}



.card{/*Estilizador areas*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

    width: 100%;
    max-width: 1000px;
    margin: 50px;
}

/*Primeira area*/
.area-website{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 50px;
    min-width: 250px;

}

h2{
    color: #D6000D;
    font-size: 20pt;
    margin: 20px;
}

/*Segunda area*/

/*Resenhas*/

.area-resenhas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 100%;
    margin: 100px;
}

.resenha{
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #e6e6e6 ;
    width: 300px;

}

.nome{
    font-weight: bold;
    font-size: 16pt;
    margin: 5px 0px;
}

.fundacao{
    font-weight: bold;
}

/*Rodape*/

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    height: 300px;
    background-color: black;
    color: white;
}

.codar-rodape{
    font-size: 20pt;
}

.subtitulo-rodape{
    font-size: 16pt;
}

.div-rodape{
    width: 200px;
}


/*Detalhes*/

.botao{
    background-color: #D6000D;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.botao:hover{
    text-decoration: underline;
    cursor: pointer;
}

.negrito{
    font-weight: bold;
}

img{
    max-width: 300px;
}