@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*, body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Cabeçalho*/

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    height: 100px;
}

.titulo{
    font-size: 20pt;
    flex-basis: 50%;
    
}

h1{
    color: #D6000D;
    position: relative;
    left: 50px;
}

.ponto{
    color: black;
}

nav{
    flex-basis: 50%;
    text-align: center;
}

.lista-topo{
    list-style: none;
    display: inline-flex;
}

li{
    padding: 15px;
}

.link-topo{
    color: black;
    text-decoration: none;
}



.card{/*Estilizador areas*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

    width: 100%;
    max-width: 1000px;
    margin: 50px;
}

/*Primeira area*/
.area-website{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    min-width: 250px;

}

h2{
    color: #D6000D;
    font-size: 20pt;
    margin: 20px;
}

/*Segunda area*/

.segunda-area{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
}

.fa-check-circle{
    color: #D6000D;
}

.beneficios{
    color: black;
}

/*Area cell*/

.cell {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    padding: 30px;
}

.cell div{
    margin: 30px 0px;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(218, 218, 218);
}
/*Resenhas*/

.area-resenhas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: 100px 0px;
}

.resenha{
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 20px;
    background-color: #e6e6e6 ;
    width: 300px;
    margin: 30px;

}

.nome{
    font-weight: bold;
    font-size: 16pt;
    margin: 5px 0px;
}

.fundacao{
    font-weight: bold;
}

/*Rodape*/

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.codar-rodape{
    font-size: 20pt;
}

.subtitulo-rodape{
    font-size: 16pt;
}

.div-rodape{
    width: 200px;
    margin: 10px;
}

.fa-brands{
    color: #D6000D;
    font-size: 30px;
    margin: 5px;
}


/*Detalhes*/

.botao{
    background-color: #D6000D;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.botao:hover{
    text-decoration: underline;
    cursor: pointer;
}

.negrito{
    font-weight: bold;
}

img{
    max-width: 300px;
}

/*media querry*/

@media screen and (max-width: 660px) {

    .card{
        display: flex;
        flex-flow: column wrap;
    }

    .fa-ul{
        order: 2;
    }
    

    .segunda-imag{
        order: 1;
    }

    .cell{
        align-content: center;
        text-align: center;
    }

    .cell div{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    input{
        margin: 20px 0px;
    }

    /*querry Footer*/

    footer{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    .div-rodape{
        
        margin: 20px;
    }

    .footer-principal{
        margin: 20px auto;
        text-align: center;
    }

    
  }